@model SLT.Models.Bag

@{
    ViewBag.Title = "Details";
}

<div class="container-fluid">
    <div class="row">
        <div class="page-header">
            <h2>
                Bag Details
            </h2>
        </div>
    </div>
    <div class="row well">
        <div class="col-md-3">
            
                <div class="slideshow-container">
                 

                    @foreach (var item in Model.BagsPictures)
                    {

                        <div class="mySlides">

                            <img alt="@item.PicId" class="imgSlider img-responsive"
                                 src="data:image/jpg;base64,@Convert.ToBase64String(item.FileContent)" />

                            @*<div class="text">Caption Text</div>*@
                        </div>


                    }
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>
                <br>

                <div style="text-align:center">
                    @for (var i = 1; i <= Model.BagsPictures.Count; i++)
                    {
                        <span class="dot" onclick="currentSlide(@i)"></span>
                    }


                </div>
            
        </div>
        <div class="col-md-5">
            
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">@Html.DisplayNameFor(model => model.BagBrand)</div>
                            <div class="col-md-8"> @Html.DisplayFor(model => model.BagBrand)</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"> @Html.DisplayNameFor(model => model.Cost)</div>
                            <div class="col-md-8"> @Html.DisplayFor(model => model.Cost)</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"> @Html.DisplayNameFor(model => model.sellCost)</div>
                            <div class="col-md-8"> @Html.DisplayFor(model => model.sellCost)</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"> @Html.DisplayNameFor(model => model.Quantity)</div>
                            <div class="col-md-8"> @Html.DisplayFor(model => model.Quantity)</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"> @Html.DisplayNameFor(model => model.ColorList)</div>
                            <div class="col-md-8">
                                @foreach (var item in Model.ColorList)
                                {
                                    if (item.isChecked)
                                    {
                                        <div class="myCircle" id="@item.ColorName">
                                            <input type="hidden" class="getColor" value="@item.ColorName">

                                            </input>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
           
    </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-4">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.BagId }, new { @class = "btn btn-default" })
                </div>
                <div class="col-md-4">
                    @Html.ActionLink("Delete", "Delete", new { id = Model.BagId }, new { @class = "btn btn-default" })
                </div>
                <div class="col-md-4">
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
</div>

<div>
   


</div>
@*<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }
</script>*@
@section scripts{

    <script src="~/ViewScripts/Slider.js"></script>
}
