@model IEnumerable<SLT.ViewModel.BagDTO>

@{
    ViewBag.Title = "Index";
}



    @**@

<div class="container-fluid">
    <div class="row">
        <div class="page-header">
            <div class="row">
                @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
                @*<input type="button" value="Create" class="btn btn-primary" />*@
            </div>
        </div>
     </div>
    <div class="row">
       
            @foreach (var item in Model)
            { 

                <div class="column">
                    <div class="content">
                        <a href="@Url.Action("Details", "Bags", new { id = item.BagId })" title="Edit">
                            <img class="img img-responsive"
                                 src="data:image/jpg;base64,@Convert.ToBase64String(item.FileContent)" />
                            </a>


                            <div class="caption">  @Html.DisplayFor(modelItem => item.BagBrand) </div>

                    </div>
                </div>
                
                
           
            }
            
     </div>
</div>

        @*@foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BagBrand)
                </td>

                <td>
                    <img class="imgSlider img-responsive"
                         src="data:image/jpg;base64,@Convert.ToBase64String(item.FileContent)" />
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BagId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.BagId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.BagId })
                </td>
            </tr>
        }*@

    
